<div class="otherRoot">
    <div class="messageDisplay">
        选择报表时间段:
    </div>
    <div class="seledate">
        <span data-start="" data-end="" class="seleted" data-index="1">当月</span>
        <span data-start="" data-end="" data-index="2">上月</span>
        <span data-start="" data-end="" data-index="3">三个月</span>
    </div>
    <div class="messageDisplay shijian bjwhite">报销单时间范围为:<span></span></div>
    <div class="caoZuo">
        <span class="weui-btn weui-btn_primary download">下载报销单</span>
        <a href="javascript:;" class="weui-btn weui-btn_default sendEmail">报销单发送至本人邮箱</a>
    </div>
</div>