<div class="weui-grids">
    <a href="../index/other#/mypredown" class="weui-grid pb10">
        <div class="weui-grid__icon">
            <i class="iconfont icon-xiazai f24" aria-hidden="true"></i>
        </div>
        <p class="weui-grid__label">
            报销单预下载
        </p>
    </a>
    <a href="../index/other#/myDown" class="weui-grid pb10">
        <div class="weui-grid__icon">
            <i class="iconfont icon-xiazai f24" aria-hidden="true"></i>
        </div>
        <p class="weui-grid__label">
            报销单下载
        </p>
    </a>
</div>