<!DOCTYPE html>
<html lang="en" class="dn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>保服通OA</title>
    <link href="../static/css/index.css" rel="stylesheet">
</head>
<body>
    <div class="top">
            <h2 class="dlb">保服通OA<br><span class="f12">首页</span></h2>
            <div>
              <span class="userName f14 fb"><%=username.MEME_NAME%></span>
              <i class="iconfont icon-yonghu-tianchong f24"></i>
             <i class="iconfont icon-yuechi fb f24"></i>
                <i class="iconfont icon-icon-- f24 fb"></i>
                <span class="weui-badge lingdang"></span>
           
            </div>
    </div>
    <div class="weui-grids home">
        <a href="javascript:;" class="weui-grid  versionNumber">
            <div class="weui-grid__icon">
                <i class="iconfont icon-Versionupdaterule-copy f24"></i>
            </div>
            <p class="weui-grid__label pt10">
                版本更新介绍
            </p>
        </a>
        <a href="javascript:;" class="weui-grid  logout">
            <div class="weui-grid__icon">
                <i class="iconfont icon-tuichu f24"></i>
            </div>
            <p class="weui-grid__label pt10">
                退出
            </p>
        </a>
    </div>
</body>

<script src='../static/assert/jquery.min.js'></script>
<script src='../static/assert/rem.js'></script>
<script src="../static/assert/weui.min.js"></script>
<script src='../static/js/require.js'></script>
<script src='../static/assert/popup.js'></script>
<script src="../static/assert/template-web.js"></script>
<script src="../static/js/index.js"></script>

</html>