<!DOCTYPE html>
<html lang="en" class="dn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>保服通OA</title>
    <link href="//at.alicdn.com/t/font_605316_2hylcg4ptya.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">
</head>
<body>
    <div class="top">
        <h2 class="dlb back">保服通OA<br><span class="f12 huan">修改密码</span></h2>
        <div>
           <span class="userName f14 fb"><%=username.MEME_NAME%></span>
        </div>
    </div>
    <div class="password root">
        <div class="weui-cells weui-cells_form f12 addReport">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">旧密码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input username" placeholder="旧密码" maxlength="20" type="password" field="PASSWORD"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">新密码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input password" placeholder="新密码" maxlength="20" type="password" field="NEW_PASSWORD"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">再次输入</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input againPassword" placeholder="再次输入新密码" maxlength="20" type="password" field="new2"/>
                </div>
            </div>
        </div>
        <div class="footerBtn">
            <span class="footerBtnChild btnBack">返回</span>
            <span class="bjc footerBtnChild submit">提交</span>
        </div>
    </div>
   
</body>
<script src='../static/assert/jquery.min.js'></script>
<script src='../static/assert/rem.js'></script>
<script src="../static/assert/weui.min.js"></script>
<script src='../static/js/require.js'></script>
<script src="../static/js/public.js"></script>
<script src="../static/js/password.js"></script>
</html>