<div class="rootQuery">
    <div class="queryContent">
        <div class="messageDisplay">
            <span>信息展示</span>
            <span class="through fr"></span>
            <span class="fr billId"></span>
        </div>
        <div class="weui-cells weui-cells_form examine mt0 f12">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">类目</label></div>
                <div class="weui-cell__bd">
                    <i class="iconfont icon-leimu"></i>
                    <span class="category" field="SYSV_ATDC_TYPE_DESC"></span>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">发生日期</label></div>
                <div class="weui-cell__bd timer">
                    <i class="iconfont icon-riqi"></i>
                    <span class="dateTime" field="ATDC_START_DT"></span>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">地区范围</label></div>
                <div class="weui-cell__bd">
                    <i class="iconfont icon-didian"></i>
                    <span class="areaRange"></span>
                </div>
            </div>
            <div class="weui-cell desctiption">
                <div class="weui-cell__hd"><label class="weui-label">地点描述</label></div>
                <div class="weui-cell__bd">
                    <i class="iconfont icon-didian"></i>
                    <span class="descriptionArea" field="ATDC_SITE"></span>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">申请人</label></div>
                <div class="weui-cell__bd">
                    <i class="iconfont icon-shenqingren"></i>
                    <span class="applyerName" field="MEME_NAME"></span>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">申请时间</label></div>
                <div class="weui-cell__bd">
                    <i class="iconfont icon-riqi"></i>
                    <span class="applyerday" field="ATDC_ENTRY_DT"></span>
                </div>
            </div>
            <div class="weui-cell trip">
                <div class="weui-cell__hd"><label class="weui-label">预计/修正出差天数</label></div>
                <div class="weui-cell__bd">
                    <i class="iconfont icon-tianshu"></i>
                    <span></span>
                </div>
            </div>
            <div class="weui-cell travel">
                <div class="weui-cell__hd"><label class="weui-label">预计/修正出差人数</label></div>
                <div class="weui-cell__bd">
                    <i class="iconfont icon-renshu"></i>
                    <span></span>
                </div>
            </div>
            <div class="weui-cell guest">
                <div class="weui-cell__hd"><label class="weui-label">预计/修正招待人数</label></div>
                <div class="weui-cell__bd">
                    <i class="iconfont icon-renshu"></i>
                    <span></span>
                </div>
            </div>
            <div class="weui-cell comment">
                <div class="weui-cell__hd"><label class="weui-label">是由</label></div>
                <div class="weui-cell__bd">
                    <i class="iconfont icon-xinxitianxie"></i>
                    <span field="ATDC_COMMENT"></span>
                </div>
            </div>
        </div>
        <div class="resultComment">
            <p class="messageDisplay">结果反馈</p>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">反馈日期</label></div>
                <div class="weui-cell__bd timer">
                    <i class="iconfont icon-riqi"></i>
                    <span class="resultTime"></span>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">反馈结果</label></div>
                <div class="weui-cell_bd">
                    <i class="iconfont icon-xinxitianxie"></i>
                   <span class="resultCommentp"></span>
                </div>
            </div>
        </div>
        <div class="addComment">
            <p class="messageDisplay">审核说明</p>
        </div>
        <div class="messageDisplay shenhekong">
            <span>信息审核</span>
        </div>
        <div class="weui-cells weui-cells_form shenhekong f12">
            <div class="weui-cell weui-cell_switch line">
                <div class="across">是否通过</div>
                <div class="weui-cell__ft">
                    <label for="switchCP" class="weui-switch-cp">
                        <input id="switchCP" class="weui-switch-cp__input" type="checkbox" checked="checked"/>
                        <div class="weui-switch-cp__box"></div>
                    </label>
                </div>
                <label class="result">审核通过</label>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">审核备注</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input lookThrough blue" placeholder="备注说明"/>
                </div>
            </div>
        </div>
    </div>
    <div class="footerBtn">
        <span class="footerBtnChild btnBack">返回</span>
        <span class="bjc footerBtnChild submit">提交</span>
    </div>
</div>