<div class="auditing">
    <div class="condition">
          <!--  <span class="fl">审核类型:</span> -->
          <div class="buttons fl">
          </div>
    </div>
    <div class="content">
         
    </div>
    <div class="footerBtn">
            <span class="footerBtnChild btnBack">返回</span>
            <span class="bjc footerBtnChild queryMore">查看更多</span>
    </div>
    <div class="reimburseBottom dn">
<!--         <div class="weui-cells_checkbox checkboxs">
            <label class="weui-cell weui-check__label" for="1125">
                <div class="weui-cell__hd">
                    <input type="checkbox" class="weui-check" name="checkbox1" id="1125">
                    <i class="weui-icon-checked"></i>
                    <span>全选</span>
                </div>
            </label>
        </div> -->
        <div class="total">
            合计:<span>￥</span><span class="money">0.00</span>
        </div>
        <div class="more">
            <span class="reimbursePass">通过</span>
            <span class="queryMore">更多</span>
        </div>
    </div>
</div>