<div class="auditing">
        <div class="condition">
           <!--    <span class="fl">审核类型:</span> -->
               <div class="buttons fl"></div>
        </div>
        <div class="chooseCondition">
            <ul>
                <li>
                  <span>今天</span>
                  <i class="iconfont icon-x"></i>
                </li>
            </ul>
            <div class="weui-btn weui-btn_mini weui-btn_primary query cursor">
                    <i class="weui-icon-search white"></i>
            </div> 
        </div>
        <div class="content"></div>
        <div class="page__ft dn getMore" style="text-align: center">
             <a href="javascript:;" class="black">已经到底了</a>
        </div>
    <div class='footerBtn btnBack'>
         <span>返回</span>
    </div>
</div>