<!DOCTYPE html>
<html lang="en" class="dn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>保服通OA</title>
    <link href="../static/css/index.css" rel="stylesheet">
</head>
<body>
    <div class="top">
        <h2 class="dlb back">保服通OA<br><span class="f12 huan">员工请假</span></h2>
        <div>
          <span class="userName f14 fb"><%=username.MEME_NAME%></span>
          <i class="iconfont icon-icon-- f24 fb"></i>
          <span class="weui-badge lingdang"></span>
        </div>
    </div>
    <div id="view"></div>
</body>
<script src='../static/assert/jquery.min.js'></script>
<script src='../static/assert/rem.js'></script>
 <script src="../static/assert/simple_spa.js"></script>
<script src="../static/assert/weui.min.js"></script>
<script src="../static/assert/moment.min.js"></script>
<script src='../static/assert/popup.js'></script>
<script src='../static/js/require.js'></script>
<script src="../static/js/overTimeConfig.js"></script>
</html>