<div class="rootList">
    <div class="condition">
        <ul>
            <li>
                <span>今天</span>
                <i class="iconfont icon-x"></i>
            </li>
        </ul>
            <div class="weui-btn weui-btn_mini weui-btn_primary query cursor">
                 <i class="weui-icon-search white"></i>
            </div> 
    </div>
    <div class="content"></div>
    <div class="page__ft dn getMore" style="text-align: center">
         <a href="javascript:;" class="black">已经到底了</a>
     </div>
</div>