<div class="root bjf5">
    <div class="weui-cells mt0 f12 query">
        <div class="weui-cell weui-cell_access">
             <div class="weui-cell__bd">
                  查看我的加班记录
             </div>
             <div class="weui-cell__ft"></div>
        </div>
    </div>
    <nav>
        <span>信息填写</span>
        <span class="fr billId"></span>
    </nav>
    <div class='weui-cells weui-cells_form f12 addReport mt0' id='addreport'> 
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label ccc">加班剩余时长</label></div>
            <div class="weui-cell__bd">
                <span class="bstrdesc ccc">
                </span>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label"><span class="red">*</span>加班开始时间</label></div>
            <div class="weui-cell__bd">
                    <i class="iconfont icon-riqi"></i>
                    <input type="text" class="weui-input blue" field="OTBL_START_DT" readonly>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label for="" class="weui-label w95"><span class="red">*</span>加班结束时间</label></div>
            <div class="weui-cell__bd">
                    <i class="iconfont icon-riqi"></i>
                    <input type="text" class="weui-input blue" field="OTBL_END_DT" readonly>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label for="" class="weui-label w95"><span class="red">*</span>加班时长</label></div>
            <div class="weui-cell__bd">
                <i class="iconfont icon-riqi"></i>
                <input type="number"  class="toHour weui-input type blue" field="OTBL_HOUR" placeholder="请输入" style="width:50px;"><span class="type hour">小时</span>
            </div>
        </div>
        <div class="weui-cell comment">
            <div class="weui-cell__hd"><label class="weui-label w95"><span class="red">*</span>加班是由</label></div>
            <div class="weui-cell__bd">
                <i class="iconfont icon-xinxitianxie"></i>
                <input class="weui-input blue" placeholder="是由说明" field="OTBL_DESC"/>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label w95"><span class="red">*</span>申请人</label></div>
            <div class="weui-cell__bd">
                    <i class="iconfont icon-shenqingren"></i>
                    <span class="applyer"></span>
            </div>
        </div>
        <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label w95">加班说明</label></div>
                <div class="weui-cell__bd">
                      <div class="overTimeComment ccc">
                          <p>1.员工本人接受部门主管加班安排，应自愿在加班前提前填写《加班申请表》，表单可从人力资源部（前台）领取。因无法确定加班工时的，应在本次加班完成后三个工作日内补填《加班申请表》</p>
                          <p>2.加班申请经部门直接主管审核、间接主管审批后，应报人力资源部备案。</p>
                          <p>3.员工加班时间以经核准的加班申请和考勤系统的记录相重叠的部分为准，工作日下班后的加班最小计算单位为1小时，休息日加班的最小计算单位为4小时（临时应公司要求紧急来公司加班的除外）。</p>
                      </div>
                </div>
        </div>
    </div>
    <div class="footerBtn">
        <span class="footerBtnChild btnBack">返回</span>
        <span class="bjc footerBtnChild submit">提交</span>
    </div>
</div>